/* CSS Style Data Analysis for E-Commerce */

body {
    font-family: Georgia, sans-serif;
    margin: 20px;
    background-color: #DACBA9;
}

.container {
    max-width: 960px;
    margin: auto;
}

.section {
    margin-top: 30px;
}

h2 {
    color: #000000;
}

h3 {
    color: #154360;
    margin-top: 5px;
    text-align: center;
}

p {
    text-align: justify;
    font-size: 16px;
}

li {
    text-align: justify;
    font-size: 14px;
}

pre {
    background-color: #fae5d3;
    padding: 5px;
    font-style: italic;
    border: 1px solid black;
    border-radius: 4px;
    overflow-x: auto;
}

.paragraph {
    background-color: #E3DEC6;
    padding: 10px;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-family: Georgia, sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
}

.paragraph p {
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-family: Georgia, sans-serif;
}

.paragraph ul {
    padding-left: 20px;
    margin: 10px 0;
    list-style-type: disc;
}

.paragraph li {
    margin-bottom: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

iframe {
    width: 720px;
    height: 380px;
    border: none;
}

.tableauPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 400px;
}

footer {
    margin-top: 40px;
    padding: 10px;
    border-top: 1px solid #DACBA9;
    background-color: #DACBA9;
}

footer p {
    margin: 0;
    color: #666;
    text-align: center;
}